// css styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(#333, black);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    background: linear-gradient(#999 -50%, black);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1.5rem, 2vw, 3rem);
}

img {
    height: clamp(40px, 60px, 80px);
    mix-blend-mode: screen;
}

h1 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: lightgoldenrodyellow;
    border: 1px solid gold;
    border-radius: 50%;
}

h2 {
    color: white;
}

label {
    font-size: 1.5rem;
    color: white;
}

.label-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

#roll-dice-button {
    font-size: clamp(1.5rem, 2vw, 2rem);
    background: radial-gradient(rgba(173, 107, 32, 1), rgba(173, 107, 32, 0.5));
    font-family: 'impact';
    font-weight: 100;
    color: white;
    -webkit-text-stroke: 1px black;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

#roll-dice-button:hover {
    box-shadow: 0 0 10px 2px lightblue;
}

.theme-button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.theme-button:hover {
    transform: scale(105%);
}

.theme-button.active {
    border: 2px solid white;
    box-shadow: 0 0 5px 2px white;
    transform: scale(1.05);
}

#dice-count {
    background: #333;
    font-size: 2rem;
    color: white;
    border-color: lightgoldenrodyellow;
}

#dice-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-content: center;
    gap: clamp(10px, 1vw, 30px);
    padding: 20px;
    border-radius: 20px;
    background: black;
    max-width: 100%;
}

#dice-theme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}

#stats-container {
    display: flex;
    flex-direction: column-reverse;
    background: black;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
}

#stats-container p {
    color: orange;
    font-size: clamp(1rem, 2vw, 2rem);
}

#stats-container h3 {
    min-width: 100px;
    padding: 0;
    margin: 0;
    color: yellowgreen;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.stat-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 480px) {
    #dice-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.dice {
    width: clamp(20px, 4vw, 60px);
    height: clamp(20px, 4vw, 60px);
    background: linear-gradient(to top right, blue, darkblue, blue);
    border: 2px solid #333;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    padding: clamp(3px, 0.3vw, 10px);
}

.dot {
    width: clamp(5px, 1vw, 15px);
    height: clamp(5px, 1vw, 15px);
    background: white;
    border-radius: 50%;
}