// css styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(#333, black);
    min-height: 100svh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

h1 {
    color: white;
}

.theme-button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}

.theme-button:hover {
    transform: scale(105%);
}

.theme-button.active {
    border: 2px solid white;
    box-shadow: 0 0 5px 2px white;
    transform: scale(1.05);
}

#dice-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(10, auto);
    justify-content: center;
    gap: clamp(10px, 1vw, 30px);
    padding: 20px;
    border-radius: 20px;
    background: black;
}

#dice-theme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: black;
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 480px) {
    #dice-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.dice {
    width: clamp(20px, 4vw, 60px);
    height: clamp(20px, 4vw, 60px);
    background: linear-gradient(to top right, blue, darkblue, blue);
    border: 2px solid #333;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    padding: clamp(3px, 0.3vw, 10px);
}

.dot {
    width: clamp(5px, 1vw, 15px);
    height: clamp(5px, 1vw, 15px);
    background: white;
    border-radius: 50%;
}

.dice.roll {
    transform: rotate(360deg);
}